<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - PDU Web Editor</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/kendo/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
        <style media="screen" type="text/css">
            .k-grid .k-callout-n { /* a known bug "validation-message-position-to-wrong-control" http://www.telerik.com/forums/validation-message-position-to-wrong-control*/
                  left: auto;
            }
            .editor-label {
                float: left;
                width: 200px;
            }

            .editor-field {
                margin-left: 200px;
            }

            .editor-field input {
                width: 100%;    
            }
        </style>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"><img src="@Url.Content("~/Images/bclc-logo-RGB.png")" alt="BCLC Logo" /></p>
                </div>
                <div class="float-right">
                    <section id="login">
                       Hello, <span class="username">@User.Identity.Name</span>!
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "PDU")</li>
                            <li>@Html.ActionLink("Asset", "Index", "Asset")</li>
                            <li>@Html.ActionLink("Package", "Index", "Package")</li>
                            <li>@Html.ActionLink("Setting", "Index", "Setting")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - PDU Web Editor | Version: @typeof(PDU_Web_Editor.MvcApplication).Assembly.GetName().Version</p>
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    
    </body>
</html>
