@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/kendo/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/kendo")
    <title>PDU Preview</title>
     <script type="text/javascript">
         function onClick(e) {
             $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("PurchaseTransaction","PDU")",
                    success: function (result) {
                    },
                    error: function (req, status, error) {
                        alert("Failed to load preview data");
                    }
                }
            );
         }
     </script>
</head>
<body>
    <div>
        @if (ViewBag.pduScreenSize == "VSplit")
        {
            @(Html.Kendo().Button()  //swith between full screen and half screen
                        .Name("textButton")
                        .Content("Purchase Transaction") 
                        .HtmlAttributes( new {type = "button"} )
                        .Events(ev => ev.Click("onClick")))
        }
        

    </div>

    <div>
        @if (ViewBag.pruRecordCnt !=0)
        {
            <object type="application/x-shockwave-flash" data="../../PDURunTime/pduv4500/webshow/pdu/Main.swf" width="480" height="220"
                    id="applicationID" >

               <param name="movie" value="../../PDURunTime/pduv4500/webshow/pdu/Main.swf" />
                <param name="wmode" value="transparent" />
                <param name="FlashVars" value="" />
                 <param name="quality" value="high" />
                <param name="menu" value="false" />
			    <param name="base" VALUE="../../PDURunTime/pduv4500/webshow/pdu">
            </object>
        }
        else
        {
            <h3>The PDU doesn't contain any record</h3>
        }
    </div>

</body>
</html>